<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="/main-style.css">
</head>

<body>
  <nav>
    <span class="server-name">Link-Tracker</span>
    <a href="/">Home</a>
  </nav>

  <div class="wrapper">
    <div class="container login-form">
      <% if (typeof error !=='undefined' && error) { %>
        <p style="color: red;">
          <%= error %>
        </p>
        <% } %>
          <h3>Sign Up</h3>
          <form action="/auth/sign-up" method="post">
            <label>Username:
              <input name="username" type="text" placeholder="Enter your username" required /></label>

            <label>Email:
              <input name="email" type="email" placeholder="Enter your email" required /></label>

            <label>Password:
              <input name="password" type="password" placeholder="Enter your password" required /></label>

            <button type="submit">Sign Up</button>
          </form>

          <div class="footer-links">
            <h4>Already have an account? <a href="/auth/login">Log in</a></h4>
          </div>
    </div>
  </div>
</body>

</html>