<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/nav-style.css">
</head>

<body>
  <nav>
    <span class="server-name">Link-Tracker</span>
    <div class="nav-links">
      <a href="/links">Home</a>
      <a href="/auth/profile">Profile</a>
      <a href="/auth/sign-out">Sign Out</a>
    </div>
  </nav>
</body>

</html>