<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <link rel="stylesheet" href="/reset-password.css" />
</head>

<body>
  <nav>
    <span class="server-name">Link-Tracker</span>
    <a href="/">Home</a>
  </nav>

  <div class="container">
    <form action="/auth/new-password?_method=PUT" method="post">
      <input style="display: none" type="text" name="userId" value="<%=userId%>" />
      <label>Enter your new password:
        <input name="newPassword" type="password" placeholder="Enter your new password" required /></label>
      <button>Reset Password</button>
    </form>
  </div>
</body>

</html>