<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/sign-in.css" />
  </head>
  <body>
    <nav>
      <span class="server-name">Link-Tracker</span>
      <a href="/">Home</a>
    </nav>

    <div class="container">
      <h3>Log in</h3>
      <form action="/auth/login" method="post">
        <label
          >Username:
          <input
            name="username"
            type="text"
            placeholder="Enter your username"
            required
        /></label>

        <label>
          Password:
          <input
            name="password"
            type="password"
            placeholder="Enter your password"
            required
          />
        </label>

        <button>Sign In</button>
      </form>

      <h4>
        Forgot you password?
        <a href="/auth/forgot-password-verification">Click here</a>
      </h4>
      <h4>Create new account <a href="/auth/sign-up">Sign up</a></h4>
    </div>
  </body>
</html>
