body {
  background-color: #f1f5f9;
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 15px;
}

.form-card {
  padding: 20px;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

input {
  flex: 1;
  min-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-create {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.table-wrapper {
  overflow-x: auto;
  background: white;
  border-radius: 8px;
  border: 1px solid gray;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

thead {
  background-color: #202a44;
  color: white;
}

th,
td {
  padding: 12px 15px;
  border-bottom: 1px solid gray;
  vertical-align: middle;
}

.url-cell {
  max-width: 250px;
  word-break: break-all;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.btn-small {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #333;
  background: #fff;
  cursor: pointer;
}

.btn-delete {
  color: #dc2626;
  border-color: #fecaca;
}
.btn {
  height: 35px;
}

@media (max-width: 600px) {
  .form-group {
    flex-direction: column;
  }
  input {
    width: 100%;
  }
  .btn-create {
    width: 100%;
  }
}
