body {
  background-color: #f1f5f9;
}

.container {
  display: flex;
  gap: 1rem;
  padding-left: 20px;
}

button {
  width: 80px;
  height: 35px;
  border-radius: 10px;
}

h2 {
  padding-left: 20px;
}
